VITE_API_BASE_URL=http://localhost:8080
VITE_GATEWAY_READINESS_URL=/gateway-readiness
VITE_OIDC_AUTHORITY=http://localhost:8090/realms/ledgerflow
VITE_OIDC_CLIENT_ID=ledgerflow-spa
VITE_OIDC_REDIRECT_URI=http://localhost:5173/oidc/callback
VITE_OIDC_POST_LOGOUT_REDIRECT_URI=http://localhost:5173/
VITE_ENABLE_DEMO_FUNDING=true
VITE_ENVIRONMENT=local
VITE_GRAFANA_URL=http://localhost:3000
VITE_KIBANA_URL=http://localhost:5601
VITE_KEYCLOAK_ACCOUNT_URL=http://localhost:8090/realms/ledgerflow/account
VITE_GITHUB_URL=https://github.com/ogzkaann/ledgerflow-banking-platform
VITE_DOCS_BASE_URL=https://github.com/ogzkaann/ledgerflow-banking-platform/blob/main
